### Checking to see if all the five datasets have the exact columns.

In [1]:
import pandas as pd

# Define the file paths for your datasets
file_paths = ["PitCount_2017.csv", "PitCount_2018.csv", "PitCount_2019.csv", "PitCount_2020.csv", "PitCount_2021.csv"]

# Initialize an empty list to store column names for each dataset
columns_list = []

# Loop through each dataset file
for file_path in file_paths:
    # Read the dataset into a DataFrame
    df = pd.read_csv(file_path)
    
    # Extract the column names and append to the list
    columns_list.append(set(df.columns))

# Check if all datasets have the same columns
if all(x == columns_list[0] for x in columns_list):
    print("All datasets have the exact same columns.")
else:
    print("Datasets have different columns.")

All datasets have the exact same columns.

#### Each dataset represents a different year. However, they do not have a year column. Adding a year column so that we can merge them into a unified dataset.

In [2]:
import pandas as pd

# Loop through each dataset file
for file_path in file_paths:
    # Extract the year from the file name
    year = int(file_path.split("_")[-1].split(".")[0])
    
    # Read the dataset into a DataFrame
    df = pd.read_csv(file_path)
    
    # Add a "Year" column with the corresponding year value
    df["Year"] = year
    
    # Save the modified DataFrame back to the original file
    df.to_csv(file_path, index=False)

    print(f"Year column added to {file_path} and saved successfully.")

Year column added to PitCount_2017.csv and saved successfully.
Year column added to PitCount_2018.csv and saved successfully.
Year column added to PitCount_2019.csv and saved successfully.
Year column added to PitCount_2020.csv and saved successfully.
Year column added to PitCount_2021.csv and saved successfully.

In [3]:
pc17 = pd.read_csv("PitCount_2017.csv")

pc17.head()

,CoC Number,CoC Name,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,...,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth,Year
0,AK-500,Anchorage CoC,Sheltered and Unsheltered Count,"1,128",170,133,825,445,678,4,...,3,9,12,0.0,21,6,15,21,0.0,2017
1,AK-501,Alaska Balance of State CoC,Sheltered and Unsheltered Count,717,135,53,529,320,397,0,...,7,3,10,0.0,18,14,4,18,0.0,2017
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Sheltered and Unsheltered Count,"1,092",104,125,863,334,738,19,...,2,0,2,0.0,10,4,6,10,0.0,2017
3,AL-501,Mobile City & County/Baldwin County CoC,Sheltered and Unsheltered Count,606,116,35,455,222,383,1,...,3,9,12,0.0,18,6,12,18,0.0,2017
4,AL-502,Florence/Northwest Alabama CoC,Sheltered and Unsheltered Count,155,0,8,147,72,81,0,...,0,0,0,0.0,0,0,0,0,0.0,2017

#### Merging the datasets

In [4]:
# Initialize an empty list to store DataFrames
dfs = []

# Loop through each dataset file
for file_path in file_paths:
    # Read the dataset into a DataFrame
    df = pd.read_csv(file_path)
    
    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames in the list into one
pc17_21 = pd.concat(dfs, ignore_index=True)

# Display the combined DataFrame
print(pc17_21.head())

  CoC Number                                           CoC Name  \
0     AK-500                                      Anchorage CoC
1     AK-501                        Alaska Balance of State CoC
2     AL-500  Birmingham/Jefferson, St. Clair, Shelby Counti...
3     AL-501            Mobile City & County/Baldwin County CoC
4     AL-502                     Florence/Northwest Alabama CoC

                       Count Types Overall Homeless  \
0  Sheltered and Unsheltered Count            1,128
1  Sheltered and Unsheltered Count              717
2  Sheltered and Unsheltered Count            1,092
3  Sheltered and Unsheltered Count              606
4  Sheltered and Unsheltered Count              155

  Overall Homeless - Under 18 Overall Homeless - Age 18 to 24  \
0                         170                             133
1                         135                              53
2                         104                             125
3                         116                              35
4                           0                               8

  Overall Homeless - Over 24 Overall Homeless - Female  \
0                        825                       445
1                        529                       320
2                        863                       334
3                        455                       222
4                        147                        72

  Overall Homeless - Male Overall Homeless - Transgender  ...  \
0                     678                              4  ...
1                     397                              0  ...
2                     738                             19  ...
3                     383                              1  ...
4                      81                              0  ...

  Sheltered ES Homeless Parenting Youth Age 18-24  \
0                                               3
1                                               7
2                                               2
3                                               3
4                                               0

  Sheltered TH Homeless Parenting Youth Age 18-24  \
0                                               9
1                                               3
2                                               0
3                                               9
4                                               0

  Sheltered Total Homeless Parenting Youth Age 18-24  \
0                                                 12
1                                                 10
2                                                  2
3                                                 12
4                                                  0

  Unsheltered Homeless Parenting Youth Age 18-24  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0

  Overall Homeless Children of Parenting Youth  \
0                                           21
1                                           18
2                                           10
3                                           18
4                                            0

  Sheltered ES Homeless Children of Parenting Youth  \
0                                                 6
1                                                14
2                                                 4
3                                                 6
4                                                 0

  Sheltered TH Homeless Children of Parenting Youth  \
0                                                15
1                                                 4
2                                                 6
3                                                12
4                                                 0

  Sheltered Total Homeless Children of Parenting Youth  \
0                                                 21
1                                                 18
2                                                 10
3                                                 18
4                                                  0

  Unsheltered Homeless Children of Parenting Youth  Year
0                                              0.0  2017
1                                              0.0  2017
2                                              0.0  2017
3                                              0.0  2017
4                                              0.0  2017

[5 rows x 543 columns]

In [5]:
pc17_21.shape

(1940, 543)

In [6]:
pc17_21.head()

,CoC Number,CoC Name,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,...,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth,Year
0,AK-500,Anchorage CoC,Sheltered and Unsheltered Count,"1,128",170,133,825,445,678,4,...,3,9,12,0.0,21,6,15,21,0.0,2017
1,AK-501,Alaska Balance of State CoC,Sheltered and Unsheltered Count,717,135,53,529,320,397,0,...,7,3,10,0.0,18,14,4,18,0.0,2017
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Sheltered and Unsheltered Count,"1,092",104,125,863,334,738,19,...,2,0,2,0.0,10,4,6,10,0.0,2017
3,AL-501,Mobile City & County/Baldwin County CoC,Sheltered and Unsheltered Count,606,116,35,455,222,383,1,...,3,9,12,0.0,18,6,12,18,0.0,2017
4,AL-502,Florence/Northwest Alabama CoC,Sheltered and Unsheltered Count,155,0,8,147,72,81,0,...,0,0,0,0.0,0,0,0,0,0.0,2017

#### Looking for any null values.

In [7]:
pc17_21.isnull().sum()

CoC Number                                              10
CoC Name                                                10
Count Types                                             19
Overall Homeless                                        10
Overall Homeless - Under 18                             10
                                                        ..
Sheltered ES Homeless Children of Parenting Youth       10
Sheltered TH Homeless Children of Parenting Youth       10
Sheltered Total Homeless Children of Parenting Youth    10
Unsheltered Homeless Children of Parenting Youth        52
Year                                                     0
Length: 543, dtype: int64

##### Since the column "CoC Name" has 10 null values and we are going to make a clustering model as well we should remove the rows where this variable is null

In [9]:
#pc17_21 = pc17_21.dropna(subset=['CoC Name'])

In [ ]:
# Get the count of null values for each column
null_counts = pc17_21.isnull().sum()

# Print columns with null values and their respective counts
print("Columns with null values:")
for column, null_count in null_counts.items():
    if null_count > 0:
        print(f"{column}: {null_count} null values")

#### Checking to see if any rows have more than 5 null values.

In [9]:
def count_rows_with_nulls_above_threshold(data, threshold):
    # Count the number of null values in each row
    null_counts = data.isnull().sum(axis=1)
    # Count the number of rows with null values above the threshold
    rows_above_threshold = (null_counts > threshold).sum()
    return rows_above_threshold

# Define the thresholds
thresholds = [2, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Iterate through the thresholds and count rows with null values above each threshold
for threshold in thresholds:
    rows_above_threshold = count_rows_with_nulls_above_threshold(pc17_21, threshold)
    print(f"Number of rows with more than {threshold} null values: {rows_above_threshold}")

Number of rows with more than 2 null values: 70
Number of rows with more than 5 null values: 63
Number of rows with more than 10 null values: 55
Number of rows with more than 20 null values: 52
Number of rows with more than 30 null values: 49
Number of rows with more than 40 null values: 49
Number of rows with more than 50 null values: 46
Number of rows with more than 60 null values: 45
Number of rows with more than 70 null values: 40
Number of rows with more than 80 null values: 40
Number of rows with more than 90 null values: 35
Number of rows with more than 100 null values: 10

#### Dropping all the null values form CoC Name and CoC Number as we must not guess these columns

In [11]:
pc17_21 = pc17_21.dropna(subset=['CoC Number', 'CoC Name'])

print("Shape after removing null values:", pc17_21.shape)

Shape after removing null values: (1925, 543)

In [15]:
#looking at the unique values in Count Types
print(pc17_21['Count Types'].unique())

['Sheltered and Unsheltered Count' nan 'Sheltered-Only Count' 'aa'
 'Sheltered and Partial Unsheltered Count']

In [16]:
#removing all the columns with nan and aa as the values
pc17_21 = pc17_21.dropna(subset=['Count Types'])

In [17]:
pc17_21.isna().sum()

CoC Number                                               0
CoC Name                                                 0
Count Types                                              0
Overall Homeless                                         0
Overall Homeless - Under 18                              0
                                                        ..
Sheltered ES Homeless Children of Parenting Youth        0
Sheltered TH Homeless Children of Parenting Youth        0
Sheltered Total Homeless Children of Parenting Youth     0
Unsheltered Homeless Children of Parenting Youth        42
Year                                                     0
Length: 543, dtype: int64

In [18]:
# Get the count of null values for each column
null_counts2 = pc17_21.isnull().sum()

# Print columns with null values and their respective counts
print("Columns with null values after dealing with three columns:")
for column, null_count in null_counts2.items():
    if null_count > 0:
        print(f"{column}: {null_count} null values")

Columns with null values after dealing with three columns:
Unsheltered Homeless - Under 18: 32 null values
Unsheltered Homeless - Age 18 to 24: 35 null values
Unsheltered Homeless - Over 24: 35 null values
Unsheltered Homeless - Female: 34 null values
Unsheltered Homeless - Male: 34 null values
Unsheltered Homeless - Transgender: 35 null values
Unsheltered Homeless - Gender that is not Singularly Female or Male: 34 null values
Unsheltered Homeless - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unsheltered Homeless - Hispanic/Latin(o)(a)(x): 35 null values
Unsheltered Homeless - White: 35 null values
Unsheltered Homeless - Black, African American, or African: 35 null values
Unsheltered Homeless - Asian or Asian American: 35 null values
Unsheltered Homeless - American Indian, Alaska Native, or Indigenous: 35 null values
Unsheltered Homeless - Native Hawaiian or Other Pacific Islander: 35 null values
Unsheltered Homeless - Multiple Races: 34 null values
Unsheltered Homeless Individuals: 25 null values
Unsheltered Homeless Individuals - Under 18: 35 null values
Unsheltered Homeless Individuals - Age 18 to 24: 40 null values
Unsheltered Homeless Individuals - Over 24: 40 null values
Unsheltered Homeless Individuals - Female: 37 null values
Unsheltered Homeless Individuals - Male: 37 null values
Unsheltered Homeless Individuals - Transgender: 38 null values
Unsheltered Homeless Individuals - Gender that is not Singularly Female or Male: 37 null values
Unsheltered Homeless Individuals - Non-Hispanic/Non-Latin(o)(a)(x): 40 null values
Unsheltered Homeless Individuals - Hispanic/Latin(o)(a)(x): 39 null values
Unsheltered Homeless Individuals - White: 39 null values
Unsheltered Homeless Individuals - Black, African American, or African: 39 null values
Unsheltered Homeless Individuals - Asian or Asian American: 39 null values
Unsheltered Homeless Individuals - American Indian, Alaska Native, or Indigenous: 39 null values
Unsheltered Homeless Individuals - Native Hawaiian or Other Pacific Islander: 39 null values
Unsheltered Homeless Individuals - Multiple Races: 38 null values
Unsheltered Homeless People in Families: 30 null values
Unsheltered Homeless People in Families - Under 18: 47 null values
Unsheltered Homeless People in Families - Age 18 to 24: 47 null values
Unsheltered Homeless People in Families - Over 24: 48 null values
Unsheltered Homeless People in Families - Female: 40 null values
Unsheltered Homeless People in Families - Male: 40 null values
Unsheltered Homeless People in Families - Transgender: 40 null values
Unsheltered Homeless People in Families - Gender that is not Singularly Female or Male: 41 null values
Unsheltered Homeless People in Families - Non-Hispanic/Non-Latin(o)(a)(x): 42 null values
Unsheltered Homeless People in Families - Hispanic/Latin(o)(a)(x): 43 null values
Unsheltered Homeless People in Families - White: 42 null values
Unsheltered Homeless People in Families - Black, African American, or African: 42 null values
Unsheltered Homeless People in Families - Asian or Asian American: 42 null values
Unsheltered Homeless People in Families - American Indian, Alaska Native, or Indigenous: 42 null values
Unsheltered Homeless People in Families - Native Hawaiian or Other Pacific Islander: 42 null values
Unsheltered Homeless People in Families - Multiple Races: 43 null values
Unsheltered Homeless Family Households: 30 null values
Unsheltered Chronically Homeless: 37 null values
Unsheltered Chronically Homeless Individuals: 39 null values
Unsheltered Chronically Homeless People in Families: 44 null values
Unsheltered Homeless Veterans: 34 null values
Unsheltered Homeless Veterans - Female: 36 null values
Unsheltered Homeless Veterans - Male: 36 null values
Unsheltered Homeless Veterans - Transgender: 36 null values
Unsheltered Homeless Veterans - Gender that is not Singularly Female or Male: 35 null values
Unsheltered Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unsheltered Homeless Veterans - Hispanic/Latin(o)(a)(x): 36 null values
Unsheltered Homeless Veterans - White: 36 null values
Unsheltered Homeless Veterans - Black, African American, or African: 36 null values
Unsheltered Homeless Veterans - Asian or Asian American: 36 null values
Unsheltered Homeless Veterans - American Indian, Alaska Native, or Indigenous: 36 null values
Unsheltered Homeless Veterans - Native Hawaiian or Other Pacific Islander: 36 null values
Unsheltered Homeless Veterans - Multiple Races: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25): 31 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Female: 35 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Male: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Transgender: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Gender that is not Singularly Female or Male: 35 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Hispanic/Latin(o)(a)(x): 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - White: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Black, African American, or African: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Asian or Asian American: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - American Indian, Alaska Native, or Indigenous: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Native Hawaiian or Other Pacific Islander: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Multiple Races: 36 null values
Unsheltered Homeless Unaccompanied Youth Under 18: 43 null values
Unsheltered Homeless Unaccompanied Youth Age 18-24: 42 null values
Unsheltered Homeless Parenting Youth (Under 25): 42 null values
Unsheltered Homeless Parenting Youth (Under 25) - Female: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Male: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Transgender: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Gender that is not Singularly Female or Male: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Non-Hispanic/Non-Latin(o)(a)(x): 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Hispanic/Latin(o)(a)(x): 35 null values
Unsheltered Homeless Parenting Youth (Under 25) - White: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Black, African American, or African: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Asian or Asian American: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - American Indian, Alaska Native, or Indigenous: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Native Hawaiian or Other Pacific Islander: 34 null values
Unsheltered Homeless Parenting Youth (Under 25) - Multiple Races: 34 null values
Unsheltered Homeless Parenting Youth Under 18: 50 null values
Unsheltered Homeless Parenting Youth Age 18-24: 50 null values
Unsheltered Homeless Children of Parenting Youth: 42 null values

The number of columns with null values have dropped significantly by jus dealing with the three column. Now we will confirm whether all these column with null values are only num type. If so we will replace nan with 0. This is an appropriate solution because it is highly likely that the number would have been zero here or the instance of CoC did not survey that specific group of homeless.

In [21]:
null_columns = pc17_21.columns[pc17_21.isnull().any()]

# Filter columns with null values that are numeric type
numeric_null_columns = [col for col in null_columns if pc17_21[col].dtype == 'float64' or pc17_21[col].dtype == 'int64']

if len(numeric_null_columns) == len(null_columns):
    print("All columns with null values are numeric type.")
else:
    print("Columns with null values include non-numeric types.")

Columns with null values include non-numeric types.

In [24]:
#finding the non numeric column.
null_columns = pc17_21.columns[pc17_21.isnull().any()]

# Filter non-numeric columns with null values
non_numeric_null_columns = [col for col in null_columns if pc17_21[col].dtype not in ['float64', 'int64']]

print("Non-numeric columns with null values:")
print(non_numeric_null_columns)

Non-numeric columns with null values:
['Unsheltered Homeless - Under 18', 'Unsheltered Homeless - Age 18 to 24', 'Unsheltered Homeless - Over 24', 'Unsheltered Homeless - Female', 'Unsheltered Homeless - Male', 'Unsheltered Homeless - Transgender', 'Unsheltered Homeless - Gender that is not Singularly Female or Male', 'Unsheltered Homeless - Non-Hispanic/Non-Latin(o)(a)(x)', 'Unsheltered Homeless - Hispanic/Latin(o)(a)(x)', 'Unsheltered Homeless - White', 'Unsheltered Homeless - Black, African American, or African', 'Unsheltered Homeless - Asian or Asian American', 'Unsheltered Homeless - American Indian, Alaska Native, or Indigenous', 'Unsheltered Homeless - Native Hawaiian or Other Pacific Islander', 'Unsheltered Homeless - Multiple Races', 'Unsheltered Homeless Individuals', 'Unsheltered Homeless Individuals - Under 18', 'Unsheltered Homeless Individuals - Age 18 to 24', 'Unsheltered Homeless Individuals - Over 24', 'Unsheltered Homeless Individuals - Female', 'Unsheltered Homeless Individuals - Male', 'Unsheltered Homeless Individuals - Transgender', 'Unsheltered Homeless Individuals - Gender that is not Singularly Female or Male', 'Unsheltered Homeless Individuals - Non-Hispanic/Non-Latin(o)(a)(x)', 'Unsheltered Homeless Individuals - Hispanic/Latin(o)(a)(x)', 'Unsheltered Homeless Individuals - White', 'Unsheltered Homeless Individuals - Black, African American, or African', 'Unsheltered Homeless Individuals - Asian or Asian American', 'Unsheltered Homeless Individuals - American Indian, Alaska Native, or Indigenous', 'Unsheltered Homeless Individuals - Native Hawaiian or Other Pacific Islander', 'Unsheltered Homeless Individuals - Multiple Races', 'Unsheltered Homeless People in Families', 'Unsheltered Homeless People in Families - Under 18', 'Unsheltered Homeless People in Families - Age 18 to 24', 'Unsheltered Homeless People in Families - Over 24', 'Unsheltered Homeless People in Families - Female', 'Unsheltered Homeless People in Families - Male', 'Unsheltered Homeless People in Families - Non-Hispanic/Non-Latin(o)(a)(x)', 'Unsheltered Homeless People in Families - Hispanic/Latin(o)(a)(x)', 'Unsheltered Homeless People in Families - White', 'Unsheltered Homeless People in Families - Black, African American, or African', 'Unsheltered Homeless People in Families - Native Hawaiian or Other Pacific Islander', 'Unsheltered Homeless People in Families - Multiple Races', 'Unsheltered Homeless Family Households', 'Unsheltered Chronically Homeless', 'Unsheltered Chronically Homeless Individuals', 'Unsheltered Chronically Homeless People in Families', 'Unsheltered Homeless Veterans', 'Unsheltered Homeless Veterans - Female', 'Unsheltered Homeless Veterans - Male', 'Unsheltered Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x)', 'Unsheltered Homeless Veterans - Hispanic/Latin(o)(a)(x)', 'Unsheltered Homeless Veterans - White', 'Unsheltered Homeless Veterans - Black, African American, or African', 'Unsheltered Homeless Veterans - Multiple Races', 'Unsheltered Homeless Unaccompanied Youth (Under 25)', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Female', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Male', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Non-Hispanic/Non-Latin(o)(a)(x)', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Hispanic/Latin(o)(a)(x)', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - White', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Black, African American, or African', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - American Indian, Alaska Native, or Indigenous', 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Multiple Races', 'Unsheltered Homeless Unaccompanied Youth Under 18', 'Unsheltered Homeless Unaccompanied Youth Age 18-24']

Dealing with numeric column with null values.

In [25]:
numeric_null_columns = [col for col in pc17_21.columns if pc17_21[col].dtype in ['float64', 'int64'] and pc17_21[col].isnull().any()]

# Replace NaN values with 0 in numerical columns
pc17_21[numeric_null_columns] = pc17_21[numeric_null_columns].fillna(0)

# Check if all null values in numerical columns have been replaced
if pc17_21[numeric_null_columns].isnull().sum().sum() == 0:
    print("All null values in numerical columns have been replaced with 0.")
else:
    print("Some null values in numerical columns remain.")

All null values in numerical columns have been replaced with 0.

/var/folders/0l/_7plg1px5251fbm6lrxyvb580000gn/T/ipykernel_4998/270604404.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pc17_21[numeric_null_columns] = pc17_21[numeric_null_columns].fillna(0)

In [27]:
# checking how many columns left with null values
# Get the count of null values for each column
null_counts3 = pc17_21.isnull().sum()


# Print columns with null values and their respective counts
print("Columns with null values:")
for column, null_count in null_counts3.items():
    if null_count > 0:
        print(f"{column}: {null_count} null values")

Columns with null values:
Unsheltered Homeless - Under 18: 32 null values
Unsheltered Homeless - Age 18 to 24: 35 null values
Unsheltered Homeless - Over 24: 35 null values
Unsheltered Homeless - Female: 34 null values
Unsheltered Homeless - Male: 34 null values
Unsheltered Homeless - Transgender: 35 null values
Unsheltered Homeless - Gender that is not Singularly Female or Male: 34 null values
Unsheltered Homeless - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unsheltered Homeless - Hispanic/Latin(o)(a)(x): 35 null values
Unsheltered Homeless - White: 35 null values
Unsheltered Homeless - Black, African American, or African: 35 null values
Unsheltered Homeless - Asian or Asian American: 35 null values
Unsheltered Homeless - American Indian, Alaska Native, or Indigenous: 35 null values
Unsheltered Homeless - Native Hawaiian or Other Pacific Islander: 35 null values
Unsheltered Homeless - Multiple Races: 34 null values
Unsheltered Homeless Individuals: 25 null values
Unsheltered Homeless Individuals - Under 18: 35 null values
Unsheltered Homeless Individuals - Age 18 to 24: 40 null values
Unsheltered Homeless Individuals - Over 24: 40 null values
Unsheltered Homeless Individuals - Female: 37 null values
Unsheltered Homeless Individuals - Male: 37 null values
Unsheltered Homeless Individuals - Transgender: 38 null values
Unsheltered Homeless Individuals - Gender that is not Singularly Female or Male: 37 null values
Unsheltered Homeless Individuals - Non-Hispanic/Non-Latin(o)(a)(x): 40 null values
Unsheltered Homeless Individuals - Hispanic/Latin(o)(a)(x): 39 null values
Unsheltered Homeless Individuals - White: 39 null values
Unsheltered Homeless Individuals - Black, African American, or African: 39 null values
Unsheltered Homeless Individuals - Asian or Asian American: 39 null values
Unsheltered Homeless Individuals - American Indian, Alaska Native, or Indigenous: 39 null values
Unsheltered Homeless Individuals - Native Hawaiian or Other Pacific Islander: 39 null values
Unsheltered Homeless Individuals - Multiple Races: 38 null values
Unsheltered Homeless People in Families: 30 null values
Unsheltered Homeless People in Families - Under 18: 47 null values
Unsheltered Homeless People in Families - Age 18 to 24: 47 null values
Unsheltered Homeless People in Families - Over 24: 48 null values
Unsheltered Homeless People in Families - Female: 40 null values
Unsheltered Homeless People in Families - Male: 40 null values
Unsheltered Homeless People in Families - Non-Hispanic/Non-Latin(o)(a)(x): 42 null values
Unsheltered Homeless People in Families - Hispanic/Latin(o)(a)(x): 43 null values
Unsheltered Homeless People in Families - White: 42 null values
Unsheltered Homeless People in Families - Black, African American, or African: 42 null values
Unsheltered Homeless People in Families - Native Hawaiian or Other Pacific Islander: 42 null values
Unsheltered Homeless People in Families - Multiple Races: 43 null values
Unsheltered Homeless Family Households: 30 null values
Unsheltered Chronically Homeless: 37 null values
Unsheltered Chronically Homeless Individuals: 39 null values
Unsheltered Chronically Homeless People in Families: 44 null values
Unsheltered Homeless Veterans: 34 null values
Unsheltered Homeless Veterans - Female: 36 null values
Unsheltered Homeless Veterans - Male: 36 null values
Unsheltered Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unsheltered Homeless Veterans - Hispanic/Latin(o)(a)(x): 36 null values
Unsheltered Homeless Veterans - White: 36 null values
Unsheltered Homeless Veterans - Black, African American, or African: 36 null values
Unsheltered Homeless Veterans - Multiple Races: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25): 31 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Female: 35 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Male: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Hispanic/Latin(o)(a)(x): 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - White: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Black, African American, or African: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - American Indian, Alaska Native, or Indigenous: 36 null values
Unsheltered Homeless Unaccompanied Youth (Under 25) - Multiple Races: 36 null values
Unsheltered Homeless Unaccompanied Youth Under 18: 43 null values
Unsheltered Homeless Unaccompanied Youth Age 18-24: 42 null values

In [32]:
#Looking for the unique values in he these column hat were not considered numeric.
null_counts = pc17_21.isnull().sum()

# Print columns with null values and their respective counts
print("Columns with null values:")
for column, null_count in null_counts.items():
    if null_count > 0:
        print(f"{column}: {null_count} null values")
        unique_values = pc17_21[column].unique()
        print(f"Unique values in {column}: {unique_values}\n")

Columns with null values:
Unsheltered Homeless - Under 18: 32 null values
Unique values in Unsheltered Homeless - Under 18: ['0' '10' '1' '3' '42' '27' '12' '33' '24' '664' '101' '76' '7' '119' '46'
 '270' '32' '242' '6' '34' '9' '56' '8' '2' '18' '38' '39' '4' '16' '17'
 '49' '84' '20' '48' '726' '219' '25' '107' '35' '11' '13' '40' '29' '31'
 '30' '507' '55' '23' '5' '19' '490' '124' '43' '15' '93' '303' '170'
 '153' '44' '21' '22' '58' '175' '120' '139' '106' '92' '14' '26' '241'
 '113' '67' '51' '129' '1,167' '75' '131' '218' '60' '236' '237' '140'
 '80' '54' '57' '36' '936' '248' '73' '52' '47' '163' '110' '294' '178'
 '127' '105' '297' '37' '112' '212' '78' '97' '931' '28' '91' '150' '180'
 '245' '148' '45' '397' '346' '125' '155' '159' '901' '261' '247' '68'
 '61' '388' '104' '282' '87' '168' '585' '77' '267' '66' '1,415' '50'
 '230' '59' '62' '69' '64' '1,628' '83' '274' '109' '238' '136' '108'
 '269' '409' '41' '964' '100' '196' '284' '654' '265' nan '913' '280'
 '154' '173' '71' '179' '172' '435']

Unsheltered Homeless - Age 18 to 24: 35 null values
Unique values in Unsheltered Homeless - Age 18 to 24: ['14' '6' '45' '12' '1' '5' '0' '2' '28' '23' '36' '4' '75' '7' '50' '44'
 '133' '1,955' '1,039' '681' '118' '371' '39' '441' '100' '434' '24' '71'
 '32' '8' '37' '78' '42' '19' '164' '40' '9' '48' '29' '1,676' '1,089'
 '98' '22' '58' '171' '108' '25' '18' '168' '222' '123' '43' '34' '3' '30'
 '11' '17' '21' '10' '27' '26' '31' '770' '13' '38' '65' '80' '124' '157'
 '63' '57' '16' '52' '35' '68' '69' '20' '15' '1,666' '260' '55' '129'
 '49' '296' '84' '51' '33' '64' '59' '283' '953' '165' '62' '74' '79'
 '423' '103' '47' '54' '1,484' '650' '175' '117' '119' '61' '41' '77'
 '137' '91' '966' '214' '90' '56' '336' '66' '102' '279' '70' '1,006'
 '193' '131' '230' '1,543' '916' '580' '244' '512' '298' '93' '577' '88'
 '106' '2,056' '267' '154' '139' '150' '94' '72' '53' '115' '120' '189'
 '737' '167' '136' '346' '46' '330' '89' '686' '191' '60' '301' '246' '95'
 '2,409' '140' '105' '147' '127' '256' '234' '85' '342' '172' nan '224'
 '99' '67' '130' '143' '202']

Unsheltered Homeless - Over 24: 35 null values
Unique values in Unsheltered Homeless - Over 24: ['141' '133' '172' '243' '21' '93' '60' '58' '35' '283' '487' '91' '374'
 '0' '78' '639' '340' '1,902' '2,829' '3,213' '3,106' '1,927' '1,357'
 '826' '1,803' '576' '1,123' '1,048' '716' '526' '573' '454' '1,449' '406'
 '354' '97' '715' '666' '274' '196' '370' '107' '395' '384' '205' '55'
 '296' '101' '36,068' '4,313' '2,461' '241' '1,115' '313' '1,454' '1,031'
 '610' '48' '977' '624' '1,779' '389' '63' '286' '863' '52' '596' '523'
 '1,122' '137' '417' '235' '100' '318' '436' '1,032' '240' '229' '230'
 '392' '169' '346' '316' '1,155' '308' '971' '914' '109' '178' '277'
 '1,001' '111' '654' '1,662' '83' '88' '45' '71' '106' '317' '171' '382'
 '1,182' '2,014' '2' '47' '51' '98' '397' '5' '32' '26' '14' '20' '29'
 '27' '127' '1,494' '85' '11' '15' '22' '16' '25' '8' '50' '394' '116'
 '105' '34' '131' '418' '145' '37' '82' '491' '120' '179' '43' '123' '49'
 '65' '18' '30' '517' '207' '12' '41' '121' '96' '182' '209' '61' '42'
 '36' '24' '3' '10' '9' '7' '4' '139' '72' '158' '148' '134' '38' '17'
 '216' '218' '405' '280' '200' '165' '380' '23' '53' '744' '102' '195'
 '62' '232' '217' '13' '46' '39' '108' '404' '117' '76' '40' '348' '364'
 '2,446' '126' '1' '3,671' '6' '67' '297' '512' '33' '122' '251' '59'
 '118' '856' '1,488' '226' '2,306' '265' '312' '866' '19' '358' '1,140'
 '1,157' '188' '279' '441' '152' '208' '77' '607' '676' '129' '89' '269'
 '1,036' '774' '1,008' '350' '156' '3,051' '1,052' '149' '135' '104' '305'
 '73' '4,295' '1,375' '114' '450' '420' '181' '56' '31' '87' '300' '214'
 '142' '396' '946' '325' '2,429' '1,468' '1,377' '710' '540' '588' '1,611'
 '619' '147' '285' '157' '527' '138' '35,150' '4,092' '1,506' '1,253'
 '786' '1,224' '1,137' '457' '68' '444' '566' '424' '919' '125' '86' '331'
 '412' '839' '368' '130' '150' '244' '236' '234' '1,004' '813' '189' '773'
 '706' '44' '1,074' '1,901' '99' '1,311' '403' '592' '140' '571' '119'
 '155' '28' '146' '69' '367' '113' '90' '162' '301' '202' '303' '776'
 '103' '124' '132' '70' '2,706' '161' '3,491' '256' '508' '351' '94' '966'
 '298' '402' '3,267' '310' '987' '306' '54' '292' '563' '602' '599' '66'
 '1,251' '942' '1,273' '640' '3,649' '1,544' '215' '84' '5,134' '2,051'
 '691' '327' '272' '81' '160' '128' '532' '191' '57' '868' '343' '2,956'
 '5,982' '4,210' '5,709' '3,310' '1,320' '1,465' '1,545' '598' '964' '514'
 '970' '1,464' '838' '1,953' '727' '752' '764' '381' '1,329' '462' '575'
 '342' '39,514' '3,948' '3,560' '1,040' '726' '1,203' '1,837' '1,734'
 '1,178' '1,079' '954' '643' '864' '388' '601' '372' '648' '807' '110'
 '432' '74' '455' '167' '175' '206' '365' '586' '982' '1,301' '899' '699'
 '2,043' '64' '115' '204' '186' '398' '1,097' '2,115' '79' '693' '1,223'
 '478' '219' '548' '143' '416' '203' '238' '315' '211' '80' '552' '95'
 '314' '1,013' '180' '75' '760' '201' '507' '2,313' '239' '3,452' '687'
 '225' '363' '213' '1,469' '1,895' '323' '459' '3,278' '893' '284' '944'
 '428' '258' '659' '212' '163' '551' '562' '144' '1,132' '1,384' '176'
 '4,173' '1,525' '174' '4,458' '1,981' '268' '542' '480' '329' '151' '989'
 '531' '3,397' '1,392' '1,475' '509' '996' '855' '2,540' '378' '874' '262'
 '42,053' '3,648' '1,117' '937' '1,446' '1,852' '2,193' '1,170' '1,156'
 '1,437' '246' '634' '339' '780' '433' '859' '425' '334' '524' '197' '347'
 '353' '1,010' '953' '194' '168' '983' '915' '199' '1,090' '2,091' '617'
 '1,421' '701' '154' '669' '173' '92' '458' '289' '166' '570' '290' '543'
 '679' '177' '377' '877' '193' '227' '288' '3,156' '3,647' '895' '539'
 '934' '321' '3,098' '271' '841' '311' '434' '638' '564' '584' '249'
 '1,185' '1,528' '772' '5,139' '1,620' '223' '4,347' '2,155' '472' '831'
 '536' '187' '307' nan '1,064' '1,240' '476' '661' '344' '612' '224' '547'
 '503' '880' '184' '490' '623' '248' '259' '136' '252' '386' '2,673'
 '2,251' '275' '1,678' '587' '294' '1,601' '1,383' '465' '1,462']

Unsheltered Homeless - Female: 34 null values
Unique values in Unsheltered Homeless - Female: ['36' '40' '48' '65' '5' '29' '12' '14' '26' '151' '165' '25' '173' '0'
 '21' '187' '83' '507' '1,672' '832' '1,467' '488' '432' '273' '811' '176'
 '380' '347' '270' '199' '161' '175' '423' '127' '122' '33' '236' '212'
 '72' '58' '135' '42' '211' '193' '99' '22' '144' '10,157' '1,626' '430'
 '309' '62' '336' '94' '486' '324' '19' '225' '1,068' '227' '130' '17'
 '84' '203' '23' '213' '128' '38' '129' '96' '119' '710' '101' '57' '66'
 '124' '80' '160' '114' '798' '115' '174' '215' '47' '53' '50' '278' '134'
 '138' '579' '20' '41' '13' '98' '45' '357' '519' '788' '7' '210' '1' '6'
 '261' '28' '18' '2' '3' '9' '52' '125' '34' '39' '188' '27' '10' '108'
 '8' '24' '11' '49' '31' '74' '59' '46' '73' '43' '64' '88' '118' '306'
 '82' '4' '340' '77' '195' '116' '16' '97' '32' '107' '105' '1,238' '770'
 '230' '56' '137' '320' '512' '79' '1,592' '123' '113' '205' '112' '15'
 '283' '78' '238' '55' '181' '37' '495' '237' '153' '252' '89' '963' '218'
 '44' '35' '1,638' '142' '61' '54' '166' '185' '314' '87' '615' '713'
 '552' '241' '509' '251' '207' '9,833' '1,402' '117' '504' '422' '231'
 '353' '364' '152' '102' '139' '133' '228' '90' '149' '92' '196' '30' '71'
 '334' '499' '794' '254' '209' '51' '240' '103' '110' '76' '100' '81'
 '126' '91' '154' '1,233' '877' '111' '232' '86' '1,962' '262' '282' '85'
 '75' '143' '425' '197' '190' '292' '183' '1,159' '308' '1,761' '912'
 '157' '69' '67' '830' '2,778' '1,759' '2,092' '1,318' '518' '592' '641'
 '191' '503' '348' '288' '631' '267' '202' '263' '106' '159' '172' '258'
 '163' '63' '11,194' '1,327' '1,138' '344' '204' '379' '574' '533' '371'
 '390' '332' '229' '109' '186' '93' '145' '588' '104' '156' '318' '120'
 '703' '372' '439' '885' '361' '220' '169' '247' '70' '834' '300' '131'
 '971' '848' '285' '454' '596' '264' '2,242' '182' '184' '339' '121' '442'
 '277' '217' '307' '148' '1,283' '276' '1,976' '219' '257' '395' '141'
 '1,264' '343' '494' '164' '321' '799' '11,963' '1,020' '410' '635' '676'
 '374' '341' '389' '136' '459' '189' '243' '221' '155' '297' '501' '746'
 '452' '325' '266' '68' '171' '337' '984' '714' '1,780' '216' '177' '360'
 '437' '345' '383' '1,751' '2,169' '956' '298' '272' '60' nan '201'
 '1,260' '132' '782' '168' '827' '424' '677' '426' '224' '983' '286']

Unsheltered Homeless - Male: 34 null values
Unique values in Unsheltered Homeless - Male: ['119' '99' '153' '199' '16' '70' '51' '46' '37' '197' '384' '287' '0'
 '67' '533' '301' '1,545' '3,763' '3,500' '2,346' '1,517' '1,410' '635'
 '1,698' '526' '1,418' '730' '546' '368' '473' '324' '1,094' '326' '280'
 '83' '680' '530' '222' '134' '290' '89' '223' '303' '161' '34' '226' '76'
 '27,801' '3,896' '2,150' '583' '207' '862' '248' '1,141' '849' '488' '38'
 '750' '597' '1,434' '652' '323' '65' '236' '684' '35' '448' '434' '938'
 '111' '318' '143' '96' '244' '839' '319' '200' '198' '195' '310' '112'
 '358' '288' '1,546' '238' '832' '737' '86' '240' '800' '53' '537' '1,285'
 '52' '7' '60' '82' '265' '140' '407' '953' '1,522' '2' '43' '40' '75'
 '316' '4' '29' '21' '11' '15' '26' '24' '1,299' '64' '23' '9' '12' '22'
 '3' '91' '97' '27' '10' '103' '335' '124' '410' '20' '50' '107' '145'
 '31' '36' '48' '202' '25' '418' '84' '39' '154' '14' '33' '66' '106'
 '148' '160' '78' '42' '8' '6' '5' '123' '61' '28' '155' '1' '129' '116'
 '138' '166' '174' '342' '220' '163' '332' '608' '182' '73' '175' '152'
 '211' '44' '32' '101' '330' '144' '71' '62' '41' '284' '3,096' '105' '57'
 '17' '3,137' '74' '239' '45' '391' '128' '156' '56' '92' '1,133' '183'
 '2,167' '241' '232' '742' '292' '970' '1,021' '47' '266' '227' '366'
 '458' '474' '231' '863' '833' '2,585' '19' '905' '117' '125' '55' '30'
 '3,659' '1,097' '90' '337' '336' '162' '221' '142' '158' '177' '79' '122'
 '298' '752' '276' '1,992' '1,126' '982' '485' '427' '1,172' '439' '110'
 '381' '104' '26,772' '3,530' '275' '343' '1,167' '1,009' '592' '962'
 '933' '356' '385' '450' '504' '735' '252' '269' '311' '709' '285' '102'
 '127' '215' '235' '170' '671' '151' '157' '648' '141' '604' '392' '393'
 '824' '1,335' '348' '1,148' '18' '308' '49' '109' '449' '121' '483' '118'
 '72' '307' '69' '113' '242' '515' '172' '159' '259' '632' '167' '135'
 '108' '279' '187' '87' '2,632' '139' '115' '54' '2,816' '399' '93' '137'
 '741' '224' '339' '2,557' '245' '808' '253' '77' '212' '146' '412' '217'
 '470' '479' '1,072' '1,049' '493' '2,905' '1,306' '176' '100' '68' '13'
 '4,164' '1,558' '209' '255' '216' '130' '237' '372' '696' '283' '2,352'
 '4,943' '3,107' '3,948' '2,549' '1,435' '1,032' '1,354' '514' '1,197'
 '376' '736' '1,046' '688' '486' '729' '571' '289' '1,238' '95' '304'
 '296' '429' '219' '30,173' '3,119' '2,814' '782' '600' '893' '1,452'
 '1,367' '880' '811' '840' '560' '701' '294' '490' '645' '350' '63' '349'
 '757' '136' '243' '225' '274' '846' '1,026' '728' '588' '1,551' '88'
 '169' '796' '1,491' '561' '1,034' '80' '402' '355' '203' '435' '59' '234'
 '85' '150' '132' '247' '389' '465' '2,333' '165' '171' '2,752' '528'
 '213' '164' '1,168' '1,395' '250' '2,784' '764' '804' '322' '201' '452'
 '462' '409' '906' '864' '1,142' '3,349' '1,332' '2,794' '1,465' '270'
 '188' '761' '432' '2,492' '1,357' '411' '760' '562' '1,862' '297' '649'
 '229' '114' '33,314' '2,899' '810' '743' '1,128' '1,513' '1,696' '881'
 '965' '1,149' '249' '149' '192' '509' '254' '466' '620' '168' '367' '425'
 '306' '826' '805' '133' '769' '383' '1,556' '94' '506' '1,204' '520'
 '126' '487' '193' '327' '456' '345' '631' '659' '293' '218' '147' '2,474'
 '3,155' '295' '689' '190' '703' '2,503' '724' '464' '831' '1,221' '1,232'
 '549' '3,994' '1,336' '98' '1,614' '331' '610' '395' nan '443' '352'
 '550' '251' '478' '181' '440' '351' '731' '264' '81' '574' '457' '204'
 '58' '365' '1,963' '1,931' '1,301' '261' '507' '408' '909' '417' '1,242'
 '1,060' '347' '1,218']

Unsheltered Homeless - Transgender: 35 null values
Unique values in Unsheltered Homeless - Transgender: [0.0 15.0 1.0 2.0 6.0 13.0 21.0 41.0 3.0 5.0 7.0 4.0 379.0 37.0 8.0 11.0
 10.0 12.0 9.0 19.0 29.0 106.0 '0' '2' '1' '4' '10' '13' '21' '41' '53'
 '3' '5' '6' '803' '23' '8' '9' '12' '11' '18' '15' '7' '57' '161' '215'
 '114' '19' '931' '16' '22' '14' '178' '684' '25' '27' '83' nan 23.0]

Unsheltered Homeless - Gender that is not Singularly Female or Male: 34 null values
Unique values in Unsheltered Homeless - Gender that is not Singularly Female or Male: [0.0 1.0 9.0 47.0 2.0 4.0 5.0 13.0 8.0 37.0 133.0 62.0 3.0 12.0 59.0 19.0
 11.0 14.0 10.0 82.0 15.0 162.0 35.0 6.0 17.0 338.0 '0' '1' '2' '4' '40'
 '99' '158' '14' '7' '173' '15' '5' '16' '12' '9' '3' '6' '24' '10' '280'
 '11' '129' '47' '28' '13' '19' '8' '171' nan 7.0 18.0]

Unsheltered Homeless - Non-Hispanic/Non-Latin(o)(a)(x): 36 null values
Unique values in Unsheltered Homeless - Non-Hispanic/Non-Latin(o)(a)(x): ['152' '136' '214' '257' '22' '96' '63' '60' '62' '346' '537' '90' '458'
 '0' '88' '623' '303' '1,772' '3,197' '3,372' '3,240' '1,682' '1,400'
 '749' '596' '604' '1,219' '989' '584' '433' '457' '305' '893' '400' '363'
 '78' '698' '685' '197' '178' '405' '406' '490' '251' '53' '342' '111'
 '24,535' '4,346' '1,753' '659' '207' '912' '267' '1,169' '875' '431' '37'
 '637' '696' '1,593' '720' '398' '68' '802' '54' '557' '478' '1,091' '142'
 '246' '118' '280' '436' '1,370' '407' '249' '255' '241' '403' '191' '395'
 '390' '1,978' '326' '872' '127' '181' '922' '1,806' '47' '72' '108' '351'
 '179' '726' '1,293' '1,975' '2' '43' '102' '428' '5' '31' '26' '16' '21'
 '28' '36' '146' '1,466' '82' '41' '10' '15' '32' '9' '124' '429' '123'
 '93' '34' '17' '130' '517' '150' '51' '95' '504' '25' '61' '128' '151'
 '48' '38' '29' '58' '18' '186' '529' '45' '217' '20' '42' '64' '105'
 '175' '233' '14' '46' '57' '40' '3' '13' '12' '6' '283' '155' '56' '224'
 '192' '7' '44' '137' '215' '196' '281' '647' '243' '509' '23' '55' '889'
 '103' '206' '87' '176' '76' '183' '35' '295' '322' '49' '110' '50' '98'
 '92' '349' '39' '74' '228' '219' '3,749' '24' '19' '11' '1' '8' '2,947'
 '73' '325' '4' '77' '617' '158' '52' '929' '1,486' '227' '470' '3,386'
 '321' '847' '373' '199' '378' '301' '603' '160' '210' '79' '609' '84'
 '958' '143' '89' '619' '702' '949' '2,131' '80' '945' '141' '67' '75'
 '156' '85' '268' '106' '27' '4,725' '1,507' '131' '459' '475' '253' '120'
 '94' '324' '208' '218' '223' '113' '69' '285' '145' '481' '915' '275'
 '2,100' '1,371' '1,299' '657' '394' '932' '649' '205' '423' '24,713'
 '3,831' '287' '348' '1,135' '1,088' '556' '107' '993' '1,027' '441' '357'
 '549' '91' '366' '540' '895' '384' '311' '972' '416' '138' '159' '261'
 '254' '240' '711' '798' '185' '783' '717' '460' '677' '1,130' '1,779'
 '125' '491' '1,205' '129' '59' '668' '147' '168' '577' '132' '171' '282'
 '30' '148' '376' '194' '99' '161' '188' '300' '354' '1,022' '353' '935'
 '104' '200' '126' '182' '112' '204' '239' '119' '343' '86' '33' '3,485'
 '2,676' '71' '616' '355' '216' '1,039' '535' '4,106' '329' '980' '195'
 '673' '289' '101' '553' '487' '748' '796' '1,125' '542' '2,519' '83'
 '1,269' '163' '5,246' '2,182' '293' '641' '340' '115' '319' '198' '201'
 '167' '558' '231' '841' '271' '2,578' '4,698' '4,227' '5,227' '3,237'
 '1,379' '1,071' '605' '1,187' '496' '837' '1,104' '555' '434' '1,132'
 '264' '750' '810' '737' '277' '1,359' '462' '650' '328' '230' '26,584'
 '3,267' '2,607' '800' '613' '878' '225' '1,376' '1,364' '839' '910' '840'
 '614' '550' '336' '538' '794' '109' '474' '222' '1,284' '500' '169' '317'
 '408' '632' '686' '1,208' '65' '190' '825' '684' '2,166' '226' '187'
 '1,066' '2,064' '823' '1,137' '519' '635' '211' '361' '245' '291' '174'
 '121' '288' '338' '1,787' '815' '184' '149' '298' '209' '339' '402'
 '2,865' '259' '2,608' '371' '788' '345' '213' '1,526' '1,861' '580'
 '4,530' '830' '312' '284' '773' '193' '564' '851' '302' '667' '850'
 '1,214' '472' '3,127' '1,476' '4,409' '2,099' '290' '531' '439' '114'
 '166' '153' '1,031' '397' '3,092' '1,268' '1,173' '814' '1,199' '356'
 '919' '307' '29,364' '2,872' '834' '672' '1,065' '1,405' '1,668' '442'
 '1,102' '1,192' '320' '587' '315' '521' '757' '379' '572' '1,053' '425'
 '546' '488' '382' '676' '897' '70' '921' '901' '237' '663' '1,117'
 '2,027' '739' '1,389' '713' '738' '135' '139' '427' '265' '576' '393'
 '278' '461' '948' '203' '335' '2,936' '367' '2,531' '100' '419' '939'
 '952' '310' '3,928' '276' '781' '318' '473' '238' '304' '797' '730'
 '1,300' '1,417' '675' '3,681' '1,430' '2,310' '820' '81' nan '468' '292'
 '202' '140' '1,063' '454' '286' '633' '644' '573' '469' '627' '645' '248'
 '66' '97' '294' '430' '122' '252' '435' '236' '2,250' '1,616' '723' '602'
 '819' '763' '333' '1,538' '1,203' '1,343' '189']

Unsheltered Homeless - Hispanic/Latin(o)(a)(x): 35 null values
Unique values in Unsheltered Homeless - Hispanic/Latin(o)(a)(x): ['3' '8' '0' '1' '2' '13' '5' '99' '82' '287' '2,251' '981' '623' '370'
 '447' '162' '1,918' '104' '580' '89' '237' '134' '180' '194' '636' '58'
 '41' '38' '219' '60' '101' '31' '29' '37' '67' '6' '13,935' '1,275' '831'
 '234' '62' '296' '80' '469' '304' '233' '20' '389' '126' '915' '174' '59'
 '14' '95' '4' '105' '61' '7' '17' '25' '10' '179' '11' '12' '32' '123'
 '437' '27' '326' '85' '35' '159' '22' '39' '183' '349' '9' '100' '18'
 '21' '24' '40' '64' '26' '15' '63' '70' '52' '79' '54' '47' '23' '156'
 '193' '604' '989' '16' '19' '50' '74' '182' '78' '383' '44' '109' '1,170'
 '1,294' '30' '483' '132' '138' '72' '1,439' '760' '173' '45' '170' '88'
 '518' '558' '238' '66' '355' '258' '749' '48' '107' '168' '12,857'
 '1,159' '83' '114' '550' '274' '49' '340' '281' '51' '86' '57' '319' '71'
 '68' '75' '200' '366' '111' '152' '43' '28' '33' '53' '399' '1,035' '428'
 '103' '605' '218' '216' '136' '1,559' '345' '1,074' '307' '34' '142' '90'
 '610' '3,224' '953' '1,085' '663' '578' '256' '927' '513' '42' '251'
 '454' '346' '341' '937' '56' '122' '112' '120' '140' '15,887' '1,209'
 '1,354' '333' '192' '397' '96' '669' '556' '419' '55' '315' '332' '184'
 '209' '69' '73' '322' '115' '171' '339' '36' '228' '290' '452' '1,014'
 '176' '509' '143' '879' '980' '520' '236' '119' '1,529' '819' '144' '675'
 '434' '273' '402' '1,482' '46' '125' '16,726' '1,099' '517' '750' '722'
 '823' '232' '369' '91' '244' '344' '87' '187' '221' '525' '92' '1,373'
 '368' '177' '544' '202' '128' '2,084' '226' '853' '282' '94' nan '993'
 '265' '98' '767' '124' '700' '229' '167']

Unsheltered Homeless - White: 35 null values
Unique values in Unsheltered Homeless - White: ['44' '63' '68' '127' '20' '61' '11' '31' '130' '211' '80' '323' '0' '77'
 '504' '288' '1,630' '2,142' '1,614' '1,240' '1,070' '1,228' '505' '1,888'
 '433' '999' '897' '657' '405' '493' '421' '1,085' '373' '320' '101' '438'
 '565' '125' '154' '341' '106' '339' '446' '209' '50' '272' '109' '15,535'
 '3,405' '1,958' '742' '180' '660' '182' '1,134' '783' '474' '32' '940'
 '641' '2,258' '607' '354' '34' '228' '183' '33' '490' '359' '677' '100'
 '370' '62' '197' '275' '939' '184' '152' '196' '201' '222' '147' '387'
 '218' '2,049' '319' '497' '537' '113' '144' '264' '561' '141' '57' '957'
 '18' '39' '13' '25' '59' '164' '6' '599' '443' '42' '45' '97' '463' '5'
 '21' '16' '15' '22' '19' '38' '361' '7' '9' '103' '351' '78' '29' '116'
 '489' '79' '4' '30' '56' '27' '47' '49' '41' '219' '26' '155' '70' '23'
 '128' '12' '200' '28' '3' '72' '53' '37' '65' '187' '2' '131' '10' '181'
 '172' '17' '122' '245' '74' '329' '8' '55' '76' '318' '110' '36' '54'
 '85' '35' '1' '166' '2,500' '66' '133' '40' '24' '1,564' '145' '529' '14'
 '86' '134' '69' '104' '858' '1,225' '217' '3,368' '270' '285' '355' '535'
 '178' '89' '223' '419' '82' '580' '136' '794' '499' '392' '232' '142'
 '2,658' '426' '137' '58' '46' '2,668' '1,374' '118' '410' '108' '51'
 '210' '75' '92' '138' '126' '338' '864' '268' '1,944' '1,059' '915' '525'
 '484' '534' '1,035' '586' '135' '233' '157' '457' '19,095' '3,256' '279'
 '205' '1,143' '910' '705' '1,145' '856' '423' '313' '326' '429' '606'

In [33]:
null_values_columns = pc17_21.columns[pc17_21.isnull().any()]

# Iterate through columns with null values
for column in null_values_columns:
    # Get unique values of the column
    unique_values = pc17_21[column].dropna().unique()
    
    # Check if any unique value contains alphabetic characters
    alphabetic_found = any(any(char.isalpha() for char in str(value)) for value in unique_values)
    
    if alphabetic_found:
        print(f"At least one unique value in column '{column}' contains alphabets.")
    else:
        print(f"No alphabets found in unique values of column '{column}'.")

No alphabets found in unique values of column 'Unsheltered Homeless - Under 18'.
No alphabets found in unique values of column 'Unsheltered Homeless - Age 18 to 24'.
No alphabets found in unique values of column 'Unsheltered Homeless - Over 24'.
No alphabets found in unique values of column 'Unsheltered Homeless - Female'.
No alphabets found in unique values of column 'Unsheltered Homeless - Male'.
No alphabets found in unique values of column 'Unsheltered Homeless - Transgender'.
No alphabets found in unique values of column 'Unsheltered Homeless - Gender that is not Singularly Female or Male'.
No alphabets found in unique values of column 'Unsheltered Homeless - Non-Hispanic/Non-Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless - Hispanic/Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless - White'.
No alphabets found in unique values of column 'Unsheltered Homeless - Black, African American, or African'.
No alphabets found in unique values of column 'Unsheltered Homeless - Asian or Asian American'.
No alphabets found in unique values of column 'Unsheltered Homeless - American Indian, Alaska Native, or Indigenous'.
No alphabets found in unique values of column 'Unsheltered Homeless - Native Hawaiian or Other Pacific Islander'.
No alphabets found in unique values of column 'Unsheltered Homeless - Multiple Races'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Under 18'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Age 18 to 24'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Over 24'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Female'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Male'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Transgender'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Gender that is not Singularly Female or Male'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Non-Hispanic/Non-Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Hispanic/Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - White'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Black, African American, or African'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Asian or Asian American'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - American Indian, Alaska Native, or Indigenous'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Native Hawaiian or Other Pacific Islander'.
No alphabets found in unique values of column 'Unsheltered Homeless Individuals - Multiple Races'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Under 18'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Age 18 to 24'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Over 24'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Female'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Male'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Non-Hispanic/Non-Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Hispanic/Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - White'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Black, African American, or African'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Native Hawaiian or Other Pacific Islander'.
No alphabets found in unique values of column 'Unsheltered Homeless People in Families - Multiple Races'.
No alphabets found in unique values of column 'Unsheltered Homeless Family Households'.
No alphabets found in unique values of column 'Unsheltered Chronically Homeless'.
No alphabets found in unique values of column 'Unsheltered Chronically Homeless Individuals'.
No alphabets found in unique values of column 'Unsheltered Chronically Homeless People in Families'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - Female'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - Male'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - Hispanic/Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - White'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - Black, African American, or African'.
No alphabets found in unique values of column 'Unsheltered Homeless Veterans - Multiple Races'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25)'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Female'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Male'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Non-Hispanic/Non-Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Hispanic/Latin(o)(a)(x)'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - White'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Black, African American, or African'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - American Indian, Alaska Native, or Indigenous'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth (Under 25) - Multiple Races'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth Under 18'.
No alphabets found in unique values of column 'Unsheltered Homeless Unaccompanied Youth Age 18-24'.

Looks like all these columns have numerical values but they are showing as characters. So we will be changing their dtype to object

In [35]:
# Check data types of columns with null values
dtype_is_object = all(pc17_21[column].dtype == 'object' for column in null_values_columns)

if dtype_is_object:
    print("All dtypes are object.")

All dtypes are object.

In [37]:
#changing dtype of the null value columns to float
null_values_columns = pc17_21.columns[pc17_21.isnull().any()]

# Change data type of columns with null values to float
pc17_21[null_values_columns] = pc17_21[null_values_columns].astype(float)

# Check if data types have been changed
changed_columns = [col for col in null_values_columns if pc17_21[col].dtype == 'float64']

if len(changed_columns) > 0:
    print("Data types of columns with null values have been changed to float.")

ValueError: could not convert string to float: '1,167'